@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

:root {
  /* Primary */
--soft-red: hsl(7, 99%, 70%);
--yellow: hsl(51, 100%, 49%);
--dark-desaturated-cyan: hsl(167, 40%, 24%); /* graphic design text*/
--dark-blue: hsl(198, 62%, 26%); /* photography text */
--dark-moderate-cyan: hsl(168, 34%, 41%); /* footer */
  /* Neutral */
--very-dark-desaturated-blue: hsl(212, 27%, 19%);
--very-dark-grayish-blue: hsl(213, 9%, 39%);
--dark-grayish-blue: hsl(232, 10%, 55%);
--grayish-blue: hsl(210, 4%, 67%);
--white: hsl(0, 0%, 100%);
}

/* General styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 18px;
  font-family: Barlow, sans-serif;
}

h1, h2 {
  font-family: Fraunces, serif;
}

h1, h2, p {
  text-align: center;
}

ul {
  list-style: none;
}

picture > img {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header */

.header {
  height: 30rem;
  padding: 2rem 1.5rem;
  position: relative;

  background-image: url(./img/mobile/image-header.jpg);
  background-size: cover;
  background-position: center;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu.show {
  display: flex;
  
                       
                       
  
}

/* .menu::before {
  border-left: 0.85rem solid transparent;
  border-right: 0.85rem solid white;
  border-top: 0.85rem solid transparent;
  border-bottom: 0.85rem solid white;

  content: "";
  position: absolute;
  top: -9%;
  right: 0;
} */

.menu {
  z-index: 1;
  height: 17rem;
  width: 86%;
  display: none;
  position: absolute;
  top: 20%;
  left: 7%;
  background-color: var(--white);

  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: all .1s ease-in-out;

}

.menu:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 30px 0px 0px;
  border-color: transparent #fff transparent transparent;
  right: 0;
  /* // top: 0; */
  bottom: 100%;
  position: absolute;

}

.menu__item {
  color: var(--dark-grayish-blue);
}

.menu__item:last-child {
  font-size: 0.95rem;
  padding: 0.75rem 1.5rem;
  border-radius: 24px;
  font-family: Fraunces, serif;
  text-transform: uppercase;
  color: #000;
  background-color: var(--yellow);
}

.header__title {
  color: var(--white);
  font-size: 2.25rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 7px;
  margin-top: 5rem;
}

.header::after {
  content: "";
  position: absolute;
  top: 54%;
  left: 45%;
  height: 6.5rem;
  width: 2rem;

  background-image: url(./img/icon-arrow-down.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* Main */

.main__section::before {
  content: "";
  display: inline-block;
  height: 18rem;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main__section--egg::before {
  background-image: url(./img/mobile/image-transform.jpg);
}

.main__section--cup::before {
  background-image: url(./img/mobile/image-stand-out.jpg);
}

.section__title {
  font-size: 1.85rem;
  font-weight: 900;
  padding: 3rem 2.25rem 1.25rem 2.25rem;
  color: var(--very-dark-desaturated-blue);
}

.section__paragraph {
  line-height: 1.5;
  padding: 0 1.15rem;
  color: var(--dark-grayish-blue);
}

.section__link {
  position: relative;
  display: block;
  margin: 2rem 0 4rem 0;
  text-align: center;
  color: var(--very-dark-desaturated-blue);

  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 0.9rem;
  font-weight: 900;
  font-family: Fraunces, serif;
}

.section__link::after {
  content: "";
  z-index: -1;
  height: 0.25rem;
  width: 145px;
  border-radius: 24px;
  border: 3px solid var(--yellow);
  
  position: absolute; 
  top: 12px;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  background-color: var(--yellow);
  opacity: 0.35;
}

.main__section--cup .section__link::after {
  border-color: var(--soft-red) !important;
  background-color: var(--soft-red) !important;
}

.main__section--images-with-text {
  height: 35rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main__section--images-with-text .section__title {
  padding-top: 23rem;
  font-size: 1.75rem;
}

.main__section--cherry {
  background-image: url(./img/mobile/image-graphic-design.jpg);
}

.main__section--orange {
  background-image: url(./img/mobile/image-photography.jpg);
}

.section__title--cherry, .section__paragraph--cherry  {
  color: var(--dark-desaturated-cyan);
}

.section__paragraph--cherry {
  font-size: 0.9rem;
  line-height: 1.75;
}

.section__title--orange, .section__paragraph--orange {
  color: var(--dark-blue);
}

.section__paragraph--orange {
  font-size: 0.89rem;
  line-height: 1.75;
}

.section-client__title {
  color: var(--grayish-blue);
  font-size: 1rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  padding: 3rem 1rem 2rem 1rem;
}

.section-client__image {
  display: block;
  height: 70px;
  width: 70px;
  margin: 2rem auto;
  border-radius: 50%;
}

.section-client__paragraph {
  color: var(--very-dark-grayish-blue);
  line-height: 1.75;
  padding: 0 1.25rem;
}

.section__paragraph-author {
  margin: 2rem 0 3.5rem 0;
  line-height: 1.8;
}

.section__paragraph-author:last-child {
  margin-bottom: 5rem;
}

.paragraph-author--name {
  display: block;
  font-family: Fraunces, serif;
  font-weight: 900;
}

.paragraph-author--profession {
  display: block;
  color: var(--grayish-blue);
  font-size: 0.8rem;
}

.main__grid-images {
  margin-top: 4rem;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 50% 50%;
}

.main__grid-images > * {
  width: 100%;
  height: 100%;
}

/* Footer */

.footer {
  height: 20rem;
  background-color: #9ccec4;
}

.footer__logo {
  display: block;
  width: 10rem;
  margin: 0 auto;
  padding: 3rem 0;
  filter: invert(46%) sepia(55%) saturate(317%) hue-rotate(118deg) brightness(55%) contrast(93%);
}

.nav{
  cursor: pointer;
}

.nav__links {
  display: flex;
  justify-content: space-around;
  color: var(--dark-moderate-cyan);
}

.nav__social {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  padding: 0 6rem;
}

.attribution{
  color: auto;
  font-size: 12px;
  margin-top: 10%;
  margin-left: 40%;
}

@media (min-width: 768px) {
  .header {
    height: 45rem;
    background-image: url(./img/desktop/image-header.jpg);
  }

  .main__section--egg::before {
    background-image: url(./img/desktop/image-transform.jpg);
  }

  .main__section--cup::before {
    background-image: url(./img/desktop/image-stand-out.jpg);
  }

  .main__section--cherry {
    background-image: url(./img/desktop/image-graphic-design.jpg);
  }
  
  .main__section--orange {
    background-image: url(./img/desktop/image-photography.jpg);
  }

  .header__title {
    font-size: 3rem;
  }

  .menu-icon, .menu::before {
    display: none;
  } 



  .menu:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 30px 0px 0px;
    border-color: transparent rgb(168, 38, 38) transparent transparent;
    right: 0;
    /* // top: 0; */
    bottom: 100%;
    position: absolute;

}

  .menu {
    height: inherit;
    width: 24rem;
    position: static;
    background-color: transparent;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .menu__item {
    color: var(--white);
    opacity: 0.9;
  }

  .menu__item:last-child {
    opacity: 1;
    background-color: var(--white);
  }

  .menu__item:last-child:hover {
    color: var(--white);
    background-color: hsl(0, 0%, 100%, 0.25);
    cursor: pointer;
  }

  .header::after {
    top: 44%;
    left: 48.75%;
  }

  /* Main */

  .main__section {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
  }

  .main__section:first-child::before {
    grid-row: 1/2;
    grid-column: 2/3;
  }

  .main__section::before {
    height: 30rem;
  }

  .container {
    display: flex;
  }

  .container > * {
    width: 50%;
  }

  .main__section > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .main__section > div > h2, .main__section > div > p {
    width: 100%;
    text-align: left;
    padding-left: 17%;
    padding-right: 14%;
  }

  .section__title {
    font-size: 2.5rem;
  }

  .section__paragraph {
    font-size: 1rem;
  }

  .section__link {
    width: 150px;
    margin-left: 17%;
  }

  .section__link:hover::after {
    opacity: 1;
  }

  .main__section--images-with-text {
    padding: 0 !important;
  }

  .main__section--images-with-text .section__title {
    padding: 22rem 0 1.5rem 0;
  }  

  .main__section--images-with-text .section__paragraph {
    padding: 0 1rem;
  }

  .section-client__title {
    padding-top: 7rem;
  }

  .section-client__container {
    padding: 0 3rem;
    display: flex;
  }

  .section-client__paragraph {
    padding: 0 0.75rem;
  }

  .main__grid-images {
    grid-template-rows: 100%;
    grid-template-columns: 25% 25% 25% 25%;
  }

  /* Footer */

  .footer__nav {
    width: 20rem;
    margin: 0 auto;
  }

  .nav__links a:hover {
    color: var(--white);
  }

  .nav__social {
    max-width: 10rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }

  .nav__social img:hover {
    filter: invert(99%) sepia(100%) saturate(2%) hue-rotate(174deg) brightness(110%) contrast(101%);
  }
}

@media (min-width: 1024px) {
  .menu {
    width: 26rem;
  }

  .main__section--images-with-text .section__paragraph {
    padding: 0 3rem;
  }

  .main__section--cup > div > h2,
  .main__section--cup > div > p{
    padding-left: 13%;
    padding-right: 24%;
  }

  .main__section--egg > div > h2,
  .main__section--egg > div > p  {
    padding-left: 20%;
    padding-right: 17%;
  }

  .main__section--cup .section__link {
    margin-left: 12%;
  }

  .main__section--egg .section__link {
    margin-left: 19%;
  }

  .main__grid-images {
    margin-top: 3rem;  
  }

  .footer__logo {
    padding-bottom: 2.5rem;
  }
}

@media (min-width: 1360px) {
  .header__title {
    font-size: 3rem;
  }

  .main__section--images-with-text {
    padding: 0 8.75rem !important;
  }

  .section-client__container {
    padding: 0 6rem;
  }

  .section-client__container div:first-child .section-client__paragraph {
    padding: 0 1rem;
  }

  .section-client__container div:nth-child(2) .section-client__paragraph {
    padding: 0 3rem;
  }

  .section-client__container div:last-child .section-client__paragraph {
    padding: 0 0.5rem;
  }

  .main__section .section__title {
    padding-right: 4rem; 
    padding-bottom: 2rem;
  }

  .main__section--images-with-text .section__paragraph {
    padding: 0 0.35rem;
  }

  .footer {
    padding-top: 1.5rem;
  }
}